<<<<<<< HEAD
$primary-color: red;
$light-color: #FFE0B2;
$page-navbar-color: #F57C00;
$primary-font-color: #212121;
$secondary-font-color: #727272;
=======
$primary-color: #1893e7;
$secondary-color: #8ccbf7;
>>>>>>> c89698895b958fd1c3b45680197c290fb4d0f904
$grey: #999;
$dark-grey: #777;
$light-grey: #fafafa;

$font-bold-i: "Lato Bold Italic";
$font-bold: "Lato Bold";
$font-regular: "Lato Regular";
<<<<<<< HEAD
$font-extra-light-i: "Lato Hairline Italic";
$font-light-i: "Lato Light Italic";
$font-italic: "Lato Italic";
$font-semi-bold: "Lato Semibold";
=======
>>>>>>> c89698895b958fd1c3b45680197c290fb4d0f904
