.barContainer {
  position: relative;
  height: 50px;
  width: 100%; }
  .barContainer .barChild {
    display: inline-block;
    background: whitesmoke;
    position: relative; }
    .barContainer .barChild .bar {
      display: block;
      width: 100%;
      height: 100%; }
