{
	"ecmaFeatures": {
		"jsx": true,
		"modules": true
	},
	"env": {
		"browser": true,
		"node": true
	},
	"parser": "babel-eslint",
	"extends": "airbnb",
	"rules": {
        "no-tabs": 0,
        "one-var": 0,
        "max-len": 0,
        "no-underscore-dangle": 0,
        "no-param-reassign": 0,
        "indent": [2, "tab"],
        "quotes": ["error", "double"],
        "comma-dangle": ["error", "never"],
        "object-curly-spacing": [2, "always"],
		// linebreak-style: ["error", "windows"],
		"react/require-default-props": 0,
		"react/jsx-uses-react": 2,
		"react/jsx-uses-vars": 2,
		"react/react-in-jsx-scope": 2,
		"react/jsx-indent": [2, "tab"],
		"react/jsx-indent-props": [2, "tab"],
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
	},
	"plugins": [
		"react"
	]
}
