html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 22px;
	font-family: $font-regular;
	background: $light-grey;
	
	@media screen and (max-width: 1024px) {
		font-size: 14px;
		line-height: 20px;
	}
}

a {
	cursor: pointer;
}

#map {
	width: 100%;
	height: 100%;
}

.infobox {
	background: #fff;
	padding: 5px;
}

.h-100 {
	height: 100%;
}

.m-0 {
	margin: 0;
}

.p-0 {
	padding: 0;
}

.p-1 {
	padding: 1em;
}

.p-2 {
	padding: 2em;
}

.p-3 {
	padding: 3em;
}

.p-tb-1 {
	padding-top: 1em;
	padding-bottom: 1em;
}

.p-l-1 {
	padding-left: 1em;
}

.p-l-2 {
	padding-left: 2em;
}

.p-l-3 {
	padding-left: 3em;
}

.p-r-1 {
	padding-right: 1em;
}

.p-r-2 {
	padding-right: 2em;
}

.p-r-3 {
	padding-right: 3em;
}

.p-t-0 {
	padding-top: 0;
}

.p-t-1 {
	padding-top: 1em;
}

.p-t-2 {
	padding-top: 2em;
}

.p-t-3 {
	padding-top: 3em;
}

.p-b-1 {
	padding-bottom: 1em;
}

.p-b-2 {
	padding-bottom: 2em;
}

.p-b-3 {
	padding-bottom: 3em;
}

.p-t-2 {
	padding-top: 2em;
}

.m-t-0 {
	margin-top: 0;
}

.m-t-1 {
	margin-top: 1em;
}

.m-b-1 {
	margin-bottom: 1em;
}

.m-t-2 {
	margin-top: 2em;
}

.m-t-3 {
	margin-top: 3em;
}

.gutter {
	padding: 0 1em;
}

.m-center {
	margin: 0 auto;
}

.section-pad {
	padding: 4em 0;
}

.thin-wrapper {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 93.96226%;
	width: 93.96226%;
	position: relative;
	&.stretch {
		max-width: 4000px;
	}
}

.wrapper {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 960px;
	width: 93.96226%;
	position: relative;
	&.stretch {
		max-width: 4000px;
	}
}

// Others
.i-b {
	display: inline-block;
}

.rbc {
	margin: 5px;
	background: #fff;
	padding: 0;

	.rbc-title {
		font-size: 20px;
		padding: 10px;
		line-height: 30px;
		font-weight: bold;
		font-family: $font-bold;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin: 0;
	}

	.rbc-input {
		position: relative;
		border: 0;
		margin: 0;
		font-family: $font-regular;
		width: calc(100% - 20px);
		padding: 0 10px;
		height: 36px;
		background-color: #f5f5f5;
		border: 0;
		border-radius: 4px;
	}

	.rbc-input-container {
		position: relative;
		padding-top: 15px;
		padding-bottom: 15px;
		
		.rbc-input-icon {
			position: absolute;
			right: 5px;
			top: 20px;

			i {
				border: 0;
				width: 30px;
				height: 30px;
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;

				&:before {
				  content: "\f002";
				}
			}
		}

	}
	
	&.rbc-title-active {
		.rbc-input-container {
			padding-top: 0;

			.rbc-input-icon {
				top: 5px;
			}
		}
	}

	[type="checkbox"]:checked+label:before {
		border-right: 2px solid;
		border-bottom: 2px solid;
	}

	input:not([type]):focus:not([readonly]),
	input[type=text]:focus:not([readonly]),
	input[type=password]:focus:not([readonly]),
	input[type=email]:focus:not([readonly]),
	input[type=url]:focus:not([readonly]),
	input[type=time]:focus:not([readonly]),
	input[type=date]:focus:not([readonly]),
	input[type=datetime]:focus:not([readonly]),
	input[type=datetime-local]:focus:not([readonly]),
	input[type=tel]:focus:not([readonly]),
	input[type=number]:focus:not([readonly]),
	input[type=search]:focus:not([readonly]),
	textarea.materialize-textarea:focus:not([readonly]) {
		border:  0;
		box-shadow: none;
	}


	Select {
		line-height: 22px;
	}
}
