.rbc.rbc-datepicker {
	font-family: $font-regular;
	padding: 0 0 14px 0;

	.CalendarMonth__day--selected,
	.CalendarMonth__day--selected-end,
	.CalendarMonth__day--selected-start {
		background: $primary-color;
		border-color: $primary-color;
	}

	.CalendarMonth__day--selected-span {
		background: $secondary-color;
		border-color: darken($secondary-color, 10%);
	}

	.CalendarMonth__day--after-hovered-start,
	.CalendarMonth__day--hovered-span {
		background: lighten($secondary-color, 10%);
		border-color: $secondary-color;
		color: $primary-color;
	}

	.DateInput__display-text--focused {
		background: lighten($primary-color, 20%);
		border-color: lighten($primary-color, 20%);
		color: #fff;
		font-family: $font-regular;
	}

	.CalendarDay__day {
		text-align: center;
	}

	.DayPicker__week-header {
		top: 57px;
	}
}
