.rbc.rbc-dropdown {
	padding: 0;

	.Select-control {
		height: 38px;
	}

	.Select-input input {
		height: 16px;
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
	}

	.Select--multi {
		.Select-value {
			color: $primary-color;
			border-color: rgba($primary-color,.24);
			background-color: rgba($primary-color,.08);
		}
		.Select-value-icon {
			border-color: rgba($primary-color,.24);
		}
	}
}
