.rbc.rbc-singledropdownlist, .rbc.rbc-multidropdownlist,
.rbc.rbc-singledropdownrange, .rbc.rbc-multidropdownrange {
	padding: 0;
	overflow: visible;

	.Select-control {
		height: 38px;
	}

	.Select-input input {
		height: 16px;
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
	}
}
