.rbc.rbc-initialloader {
	&.rbc-initialloader-active {
		position: absolute;
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 0;
		margin: 0;
		z-index: 6;
	}
	&.rbc-initialloader-inactive {
		display: none;
	}
}
