.rbc.rbc-singlelist, .rbc.rbc-multilist{
	overflow: hidden;
	height: 400px;
	padding: 0;
	position: relative;
	background: #fff;

	.rbc-list-container {
		height: 100%;
		padding: 5px 0;
		overflow: auto;

		.rbc-list-item {
			padding: 5px 8px;
			
			&.row {
				margin: 0;
			}

			a {
				padding: 5px 10px;
				display: block;
				color: $dark-grey;

				&.active {
					color: $blue;
					font-weight: bold;
				}
			}

			.rbc-label {
				font-weight: normal;
			}
		}

		.row {
			margin: 10px 0;
		}
	}	

	.rbc-tag-item {
		background-color: rgba(0,126,255,.08);
		border-radius: 2px;
		border: 1px solid rgba(0,126,255,.24);
		color: #007eff;
		display: inline-block;
		font-size: 14px;
		margin-left: 5px;
		margin-top: 5px;
		vertical-align: middle;
		line-height: 18px;
		padding: 0;
		display: inline-block;
		cursor: pointer;

		span {
			padding: 0 7px;
			position: relative;
			top: 1px;
		}

		.close {
			font-size: 12px;
			display: inline-block;
			border-bottom-left-radius: 2px;
			border-top-left-radius: 2px;
			border-right: 1px solid #c2e0ff;
			border-right: 1px solid rgba(0,126,255,.24);
			padding: 1px 5px 3px;
		}
	}

	.rbc-title {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
	}

	.rbc-search-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0;

		.rbc-input {
			padding: 0 10px;
			border: 0;
		}
	}

	&.rbc-search-active {
		padding-top: 50px;

		&.rbc-title-active {
			padding-top: 100px;

			.rbc-search-container {
				top: 50px;
			}
		}
	}

	&.rbc-title-active {
		padding-top: 50px;
	}
}

.rbc.rbc-multilist {
	.rbc-list-container {
		padding: 0;

		.rbc-list-item {
			padding: 5px 12px;
		}
	}
}
