.rbc.rbc-list {
	overflow: hidden;
	height: 400px;
	padding: 0;
	position: relative;
	background: #fff;

	.rbc-list-container {
		height: 100%;
		padding: 0;
		overflow: auto;

		.rbc-list-item {
			a {
				padding: 5px 10px;
				display: block;
				color: $primary-font-color;
				&.active {
					color: $primary-color;
					font-weight: bold;
				}
			}

			&.rbc-checkbox-item {
				padding: 5px 10px;

				label {
					font-weight: normal;
				}
			}
		}

		.row {
			margin: 10px 0;
		}
	}	

	.tag-item {
		background-color: rgba($primary-color,.08);
		border-radius: 2px;
		border: 1px solid rgba($primary-color,.24);
		color: $primary-color;
		display: inline-block;
		font-size: 14px;
		margin-left: 5px;
		margin-top: 5px;
		vertical-align: middle;
		line-height: 18px;
		padding: 0;
		display: inline-block;
		cursor: pointer;

		span {
			padding: 0 7px;
			position: relative;
			top: 1px;
		}

		.close {
			color: $primary-color;
			font-size: 12px;
			display: inline-block;
			border-bottom-left-radius: 2px;
			border-top-left-radius: 2px;
			border-right: 1px solid darken($primary-color, 10%);
			border-right: 1px solid rgba($primary-color,.24);
			padding: 1px 5px 3px;
		}
	}

	.rbc-title {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
	}

	.rbc-search-component {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0;

		.rbc-input {
			padding: 0 10px;
			border: 0;
		}
	}

	&.rbc-search-active {
		padding-top: 50px;

		&.rbc-title-active {
			padding-top: 100px;

			.rbc-search-component {
				top: 50px;
			}
		}
	}

	&.rbc-title-active {
		padding-top: 50px;
	}
}
