.rbc.rbc-nestedlist {
	.rbc-indent {
		padding-left: 1em;
	}

	.rbc-list-container {
		padding: 3px 0;

		.rbc-list-item {
			padding: 5px;
			
			.rbc-count {
				border-radius: 999em;
				margin: 0 10px 0 2px;
				position: relative;
				top: -1px;
				padding: 2px 8px;
				font-size: 10px;
				background: lighten($grey, 35%);
			}

			i.fa-chevron-right {
				color: lighten($grey, 15%);
				font-size: 12px;
			}

			&.rbc-item-active {
				font-family: $font-bold;

				i.fa-chevron-right {
					transform: rotate(90deg);
				}
			}

		}
	}
}
