@import "histogram";

.rbc.rbc-rangeslider {
	padding: 0 6px;
	
	.rbc-rangeslider-container {
		margin: 25px 0;

		.rbc-title {
			padding: 0;
			padding-bottom: 15px;
		}
		.inputRangeContainer {
			padding: 15px 6px;
		}
	}

	&.rbc-labels-active .rbc-rangeslider-container {
		margin: 25px 0 35px;
	}
}
