.rbc.rbc-singlerange, .rbc.rbc-multirange {
	height: 250px;
	position: relative;
	overflow: auto;
	padding: 0;

	.rbc-list-container {
		height: 100%;
		padding: 0;
		overflow: auto;

		.rbc-list-item {
			padding: 4px 10px;

			&.row {
				margin: 0;
			}

			a {
				padding: 5px 10px;
				display: block;
				color: $dark-grey;

				&.active {
					font-weight: bold;
				}
			}

			.rbc-label {
				font-weight: normal;
			}
		}

		.row {
			margin: 10px 0;
		}
	}

	.rbc-tag-item {
		border-radius: 2px;
		border: 1px solid;
		display: inline-block;
		margin-left: 5px;
		margin-top: 5px;
		vertical-align: middle;
		font-size: .9em;
    	line-height: 1.4;
		padding: 0;
		display: inline-block;
		cursor: pointer;
		
		span {
			padding: 0 5px;
			position: relative;
			top: 1px;
		}
		
		.close {
			display: inline-block;
			border-bottom-left-radius: 2px;
			border-top-left-radius: 2px;
			border-right: 1px solid;
			padding: 1px 5px 3px;
		}
	}
}

.rbc.rbc-multirange {
	.rbc-list-container {
		.rbc-list-item {
			padding: 4px 12px;
		}
	}
}
