.rbc.rbc-range {
	height: 250px;
	position: relative;
	background: #fff;
	overflow: auto;
	padding: 0;

	.rbc-list-container {
		height: 100%;
		padding: 0;
		overflow: auto;

		.rbc-list-item {
			a {
				padding: 5px 10px;
				display: block;
				color: $dark-grey;

				&.active {
					color: $blue;
					font-weight: bold;
				}
			}

			&.rbc-checkbox-item {
				padding: 5px 10px;

				label {
					font-weight: normal;
				}
			}
		}

		.row {
			margin: 10px 0;
		}
	}

	.Select-control {
		height: 38px;
	}

	.Select-input input {
		height: 16px;
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
	}

	.tag-item {
		background-color: rgba($primary-color,.08);
		border-radius: 2px;
		border: 1px solid rgba($primary-color,.24);
		color: $primary-color;
		display: inline-block;
		font-size: 14px;
		margin-left: 5px;
		margin-top: 5px;
		vertical-align: middle;
		line-height: 18px;
		padding: 0;
		display: inline-block;
		cursor: pointer;

		span {
			padding: 0 7px;
			position: relative;
			top: 1px;
		}

		.close {
			color: $primary-color;
			font-size: 12px;
			display: inline-block;
			border-bottom-left-radius: 2px;
			border-top-left-radius: 2px;
			border-right: 1px solid darken($primary-color, 10%);
			border-right: 1px solid rgba($primary-color,.24);
			padding: 1px 5px 3px;
		}
	}
}
