.rbc.rbc-reactiveelement {
	height: auto;
	max-height: 700px;
	overflow: auto;
	margin: 5px 0;
	padding-bottom: 28px;
	.rbc-placeholder {
		padding: 60px 15px;
		text-align: center;
	}
}

.rbc-reactiveelement-container {
	position: relative;
}