.rbc.rbc-resultlist {
	height: auto;
	max-height: 700px;
	overflow: auto;
	margin: 5px 0;
	
	.rbc-json-print {
		span {
			width: 60px;
			display: inline-block;
			cursor: pointer;
			float: left;
			
			&.head:after {
				content: '▾';
				display: inline-block;
				margin-left: 5px;
			}

			&.head.collapsed:after {
				webkit-transform: rotate(-90deg);
				-moz-transform: rotate(-90deg);
				-ms-transform: rotate(-90deg);
				transform: rotate(-90deg);
			}
		}

		pre {
			width: calc(100% - 60px);
			display: inline-block;
			background-color: #fdfdfd;
			color: #666;
			margin: 0;
			padding: 0 12px;
			float: left;
		}
	}

	&.rbc-sort-active {
		.rbc-sortoptions {
			position: absolute;
			right: 0;
			margin: 10px 0;

			select {
				height: 32px;
			}
		}
	}
}

.rbc-loader {
	width: 100%;
	height: 74px;
	clear: both;
	margin: 0;
	text-align: center;
	padding: 25px 0;

	&::after {
		content: '';
		display: block;
		border-radius: 50%;
		margin: 0 auto;
		width: 24px;
		height: 24px;
		animation: spin 1s infinite;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
