.rbc.rbc-resultlist {
	height: auto;
	max-height: 700px;
	overflow: auto;
	
	.rbc-json-print {
		span {
			width: 60px;
			display: inline-block;
			cursor: pointer;
			float: left;
			
			&.head:after {
				content: '▾';
				display: inline-block;
				margin-left: 5px;
			}

			&.head.collapsed:after {
				webkit-transform: rotate(-90deg);
				-moz-transform: rotate(-90deg);
				-ms-transform: rotate(-90deg);
				transform: rotate(-90deg);
			}
		}

		pre {
			width: calc(100% - 60px);
			display: inline-block;
			background-color: #fdfdfd;
			color: #666;
			margin: 0;
			padding: 0 12px;
			float: left;
		}
	}

	&.rbc-sort-active {
		.rbc-sortoptions {
			position: absolute;
			right: 0;
			margin: 10px 0;

			select {
				height: 32px;
			}
		}
	}
}
