.rbc-selectedfilters {
	padding: 0 5px 5px 0;
	
	.rbc-tag-item {
		position: relative;
		border-radius: 2px;
		border: 1px solid;
		display: inline-block;
		margin-left: 5px;
		margin-top: 5px;
		vertical-align: middle;
		font-size: .9em;
		line-height: 1.4;
		padding: 0;
		display: inline-block;
		cursor: pointer;
	
		.rbc-tag-text {
			padding: 0 5px;
			position: relative;
			top: 1px;
			height: 20px;
			overflow: hidden;
			text-overflow: ellipsis;
			float: left;
			display: inline-block;
			white-space: nowrap;
			max-width: 400px;

			@media all and (max-width: 767px) {
				max-width: 200px;
			}
		}
	
		strong {
			font-weight: bold;
		}
	
		.close {
			display: inline-block;
			float: left;
			border-bottom-left-radius: 2px;
			border-top-left-radius: 2px;
			padding: 1px 5px 3px;
			background: transparent;
			border: none;
			border-right: 1px solid;
		}
	}
}
