.rbc-selectedfilters {
	padding: 0 5px 5px 0;
	
	.rbc-tag-item {
		position: relative;
		border-radius: 2px;
		border: 1px solid;
		display: inline-block;
		margin-left: 5px;
		margin-top: 5px;
		vertical-align: middle;
		font-size: .9em;
		line-height: 1.4;
		padding: 0;
		display: inline-block;
		cursor: pointer;
	
		.rbc-tag-text {
			padding: 0 5px;
			position: relative;
			top: 1px;
			height: 20px;
			overflow: hidden;
			text-overflow: ellipsis;
			float: left;
			display: inline-block;
			white-space: nowrap;
			max-width: 400px;

			@media all and (max-width: 767px) {
				max-width: 200px;
			}
		}
	
		strong {
			font-weight: bold;
		}
	
		.close {
			display: inline-block;
			float: left;
			border-bottom-left-radius: 2px;
			border-top-left-radius: 2px;
			padding: 1px 5px 3px;
			background: transparent;
			border: none;
			border-right: 1px solid;
		}
	}

	.rbc-tooltip {
		visibility: hidden;
		width: auto;
		min-width: 50px;
		background-color: black;
		color: #fff;
		text-align: center;
		padding: 5px 12px;
		border-radius: 6px;
		position: absolute;
		z-index: 1;
		top: calc(100% + 5px);
		left: 50%;
		margin-left: calc(-20% - 20px);

		&:after {
			content: "";
			position: absolute;
			bottom: 100%;
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: transparent transparent black transparent;
		}
	}

	@media all and (min-width: 768px) {
		&:hover .rbc-tooltip {
			visibility: visible;
		}
	}
}
