.rbc.rbc-textfield {
	padding: 0;

	.rbc-search-container {
		padding: 0;
		position: relative;

		.rbc-search-icon {
			position: absolute;
			top: 15px;
			right: 0;
			border: 0;
			width: 30px;
			height: 30px;
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;

			&:before {
			  content: "\f002";
			}
		}
	}
}
